<!DOCTYPE html>
<html>
    <head>


     <!-- inace ukljuceno u bower.json 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script> -->
  <!--<script>
  _u = _.noConflict(); // lets call ourselves _u
  </script> -->
    <!-- skripta za angular.js library sa weba -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script> 
    <!-- Google API za Google Maps  -->
    <!-- <script src='http://maps.googleapis.com/maps/api/js?sensor=false'></script> -->

    <script src=" https://maps.googleapis.com/maps/api/place/textsearch/xml?query=restaurants+in+Sydney&key=API_KEY">
    </script>
     
    <script>  

        var A = angular.module("MyModuleA", []);

        A.controller("DropdownFilter", function($scope) {
            

        $scope.place = [
        
          {
            text: 'restoran',
            value: '1'
          },
          {
            text: 'kafic',
            value: '2'
          
          },
          
          {
            text: 'kino',
            value: '3'
          }
        
        ];

        $scope.selected = {}; 

          });
        
          A.controller("TextFilter", function($scope){});
          A.controller("WishList", function($scope){});

          var B = angular.module("MyModuleB", []);
          var C = angular.module("MyModuleC", []);

         

    
      function initialize() 
            {
                  var input = document.getElementById('searchTextField');
                

                  var options = {

                    types: ['geocode'],
                };

                  autocomplete = new google.maps.places.Autocomplete(input, options);
            }

                google.maps.event.addDomListener(window, 'load', initialize);
      
    

    
  var zagreb = new google.maps.LatLng(45.812897,15.97706);

  map = new google.maps.Map(document.getElementById('map'), {
      center: zagreb,
      zoom: 15
    });

  var request = {
    location: zagreb,
    radius: '500',
    query: 'restaurant'
  };

  service = new google.maps.places.PlacesService(map);
  service.textSearch(request, callback);


function callback(results, status) {
  if (status == google.maps.places.PlacesServiceStatus.OK) {
    for (var i = 0; i < results.length; i++) {
      var place = results[i];
      createMarker(results[i]);
    }
  }
}
    </script>

    </head>

    <body ng-app="silvaApp">
         Search:
       <input id="searchTextField" type="text" size="50" placeholder="Insert place">


     <div>
            <h4>Dropdown Filter</h4>
            <div ng-controller="DropdownFilter">
            <select ng-model="dropdown" ng-options="pl.text for pl in place"> {{place.text}} </select>
            </div>
        </div>

        <div>
            <h4>Text Filter</h4>
            <div ng-controller="TextFilter">
            <select ng-model="text" ng-options=""></select>
            </div>
        </div>

        <div>
        Wishlist:
        <button class="" ng-click=""></button>


        </div>
       


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','http://google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
    
   </body>
</html>