<html>
  <head>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles/search.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title></title>
    <meta content="">
    <style></style>

       </head>
  <body>


<input id="SearchPlace" class="controls" type="text" placeholder="WishList">
<button ng-controller="DodajWish" type="button" class="btn btn-primary btn-md" >Dodaj</button>

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Trenutno odabrana lokacija</h4>
    </div>

    <div class="modal-body">
      Detalji o odabranoj lokaciji i gumb za dodavanje na WishListu
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
     
    </div>
  </div> </div>
 
 </body>
</html>